<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {{>header}}
    <h1 style="margin-bottom: 20px; border-bottom: 2px solid #EBCB8B
;">Weather</h1>
    <div class="weather__stat">
        <h4 class="forecast">Forecast: {{forecast}}</h4>
        <p class="cityName">Current City: {{cityName}}</p>
    </div>
    {{>footer}}
</body>

</html>