* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  justify-items: center;
  align-content: center;
  background: #2e3440;
  color: #91b9b2;
  text-align: center;
}

p {
  color: rgb(255, 112, 196);
}

header h1 {
  text-align: left;
  padding: 10px 2px;
}

.banner-img {
  width: 100%;
  height: 550px;
  object-fit: cover;
}

.content {
  padding: 20px 0;
}
